.portrait-container{
    width: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#portrait-anchor{
    position: relative;
    top:8vh;
}

/*Welcome message*/
#welcome {
    font-family: sans-serif;
    position: relative;
    font-size: 9vmin;
    visibility: hidden;

    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width:800px) or (max-height:500px) {

    #welcome {
        font-size: 6vmin;
    }

    .portrait-container{
        width: 300px;
    }
    .home-portrait{
        width: 200px;
    }
}

@media (max-width:600px) and (orientation: portrait) {
    .portrait-container{
        display: none;
    }

    #welcome {
        font-size: 8vmin;
    }
}
