#boxskills {
    position: relative;
    width: 100%;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
}

/*Skills section*/
.skillscontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: auto;
  }
  .skillcontainer{
    width: 300px;
    max-width: 70vw;
    border-radius: 10px;
    /*background-color: rgba(22,23,26,0.8);*/
    margin: 16px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  }
  .skillheader{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .skillicon{
    width: 56px;
    padding: 10px;
  }
  .skilltitle{
    /*background-color: rgba(62,63,66,0.3);*/
    font-size: 18.75px;
    line-height: 40px;
    padding: 16px 16px 16px 16px;
    border-radius: 10px;
    box-shadow: 0px 10px 8px rgb(0,0,0,0.3);
  }
  .skilltext{
    width: 100%;
    /*background-color: rgba(32,33,36,0.8);*/
    padding: 0px 0px 0px 0px;
    border-top-left-radius: 10px;
  }
  .skilldesc{
    padding: 8px 16px 8px 16px;
    color: rgb(206,208,210);
    background-color: rgba(32,33,36,0.8);
    border-radius: 10px;
    flex-grow: 2;
    line-height: 26px;
    font-size: small;
  }


  @media (min-width:600px) and (orientation: portrait) {

    .skillcontainer{
        width: 800px;
        border-radius: 10px;
        margin: 16px 16px 16px 16px;
        display: flex;
        align-items: flex-start;
        overflow:hidden;
      }
      .skillicon{
        width: 112px;
        padding: 20px;
      }
      .skilltitle{
        font-size: 52px;
        line-height: 80px;
        padding: 16px 16px 16px 16px;
        border-radius: 10px;
        box-shadow: 0px 10px 8px rgb(0,0,0,0.3);
      }
      .skilltext{
        width: 100%;
        padding: 0px 0px 0px 0px;
        border-top-left-radius: 10px;
      }
      .skilldesc{
        padding: 8px 16px 16px 16px;
        flex-grow: 2;
        line-height: 40px;
        font-size: 28px;
      }

  }